@model Item

@if(Model == null)
    {

    }

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edit Page</title>
</head>
<body>
    <h1 style="text-align: center;"><span class="label label-default">Edit "@Model.Name"</span></h1>
    <br />
    <form asp-controller="home" asp-action="edit">
        <table style="width: 100%; font-size: 12pt; border-spacing: 15vh; border-collapse: separate; border-spacing: 5px;">
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Description</th>
                <th>Wholesale Price</th>
                <th>Retail Price</th>
                <th>Quantity</th>
                <th>Category</th>
            </tr>
            <tr>
                <th><span class="label label-info" name="ID" style="font-size: 12pt;">#@Model.ID</span></th>
                <th><input type="text" name="Name" size="15" value="@Model.Name" /></th>
                <th><input type="text" name="Descr" size="15" value="@Model.Descr" /></th>
                <th><input type="text" name="WPrice" size="15" value=@Model.WPrice /></th>
                <th><input type="text" name="Price" size="15" value=@Model.Price /></th>
                <th><input type="text" name="Quantity" size="15" value=@Model.Quantity /></th>
                <th><input type="text" name="Category" size="15" value=@Model.Category /></th>
            </tr>
        </table>

        <input type="hidden" asp-for="@Model.ID" name="ID" />

        <input type="file" name="file" />
        <br />  
        <button class="btn btn-success" style="margin: 2px;" type="submit">Update</button>
    </form>

</body>


</html>