@model IEnumerable<Item>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Storefront</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Views/Home/customstyles.css" rel="stylesheet" />
</head>



<body>

    <div class="">

    </div>

    <h1 style="text-align: center;"><span class="label label-default">Online Shop - Home Page</span></h1>
    <br />

    @foreach (var item in Model)
    {
        <div class="panel panel-default" style="float: right; width: 40vh; height:30vh; margin: 3vh; text-align: center">

            <div class="panel-heading">
                <p style="font-size: 20pt;">@item.Name</p>
                <p style="font-size: 15pt;">@item.Category</p>
            </div>

            <div class="panel-body" style="font-size: 13pt;">

                <div style="float: left;">
                    <img height="100vh" src="@item.ImageURL" />
                </div>

                <div style="float: right;">
                    <p style="font-size: 25pt;">$@item.Price.00</p>
                    <button class="btn btn-info" style="font-size: 15pt; width: 20vh; height:5vh; margin: 2px;" type="submit">Add to Cart</button>
                </div>

            </div>

        </div>
    }


</body>
</html>