<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Storefront</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 style="text-align: center;"><span class="label label-default">Online Shop - Home Page</span></h1>
    <p> hi again </p>
</body>
</html>