<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Storefront</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8">
</head>

<body>
    <header>
        <h1 style="text-align: center;"><span class="label label-default">Online Shop - Home Page</span></h1>

        <nav>
            <b>
                <a href="index.html">HOME</a>&nbsp;
                <a href="category1.html">CATEGORY 1</a>&nbsp;
                <a href="category2.html">CATEGORY 2</a>&nbsp;
                <a href="category3.html">CATEGORY 3</a>&nbsp;
                <a href="category4.html">CATEGORY 4</a>&nbsp;

            </b>
        </nav>
    </header>
  
    <main>




    </main>

</body>

</html>