@model IEnumerable<Item>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Storefront</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h1 style="text-align: center;"><span class="label label-default">Online Shop - Home Page</span></h1>
    @foreach (var item in Model)
    {
    <h3><span class="label label-primary">@item.Name</span></h3>
    <h4>@item.Desc</h4>
    <p>Item ID: @item.ID</p>
    <h5>Item Price: $@item.Price</h5>
    <p>Stock: x @item.Quantity</p>
    }
</body>

</html>